Lookup problems with many domains

Hi @DragonWork 

we have many domains which postfix cannot deliver to due to lookup errors
```
 warning: socketmap:inet:10.1.0.44:8462:query lookup error for "zetlab.ch"
 warning: smtp_tls_policy_maps, next-hop destination "zetlab.ch": policy table lookup error
 warning: TLS policy lookup for zetlab.ch/mgw2.logicare.ch: client TLS configuration problem
```
We're a mail company and are very much interested in making tlspol "better" working. We're not only want to use OpenSource softwarefor free but we're really interested that it works as smooth as possible :-) Therefore I talked to my boss and asked if we could issue a "bounty" for fixing those "issues". I was told yes that our company would pay something if it could be fixed. I started a monitoring of the mails stuck in our postfix queues and extracted the domains from those
```
zetlab.ch
i.ua
koemedia.ch
spital-limmattal.ch
yamail.com
safetechin.com
abw-drehteile.at
allegion.com
hoehnhart.at
ijn-bau.at
seca.at
allegion.com
ips-software.com
praxisvilliger.ch
vdmfk.li
c-hochdrei.li
techpharm.de
simmassociates.com
bfb-architekten.ch
sezman.cz
assurisk.ch
atelier-whiteplan.ch
gzo.ch
h2v.net
rtm.ch
es.sauter-bc.com
siaut.ch
tuwien.ac.at
gesundheit-akademie.de
mri.tum.de
ivt.tugraz.at
tugraz.at
```
the .ch domains could also be related to a DNSSec delegation issue between root (.) and .ch from this morning. We would really appreciate if you could analyze those domains and figure out why they triggered the lookup errors. 

I have not head from my boss on how much we would spend to fix the issue(s) but I would pay as private person up to 200 CHF if our company would only offer less than that.

Kind regards and thanks a lot for your support

tobi

Thank you for your interest!
The domains you provided helped me understand the bug.
I‘m a student and Zuplu is not a company (yet), so getting real-world data from a mail provider is valuable for postfix-tlspol.

I have relaxed the handling of DNS errors in v1.5.0.
Please give it a try. Although RFC 7672 says that a DNS error should be considered a failure to deliver mails, it seems that the status quo doesn‘t allow us to be that strict, considering the plethora of malconfigured nameservers. The default option for postfix-tlspol is now `strict: false`, meaning we will be replying with a `not found` response to Postfix. Postfix will then fall back to the level that has been set in `main.cf`. (Which should be preferrably `dane` at least, so Postfix can try again using its own algorithm.)

@DragonWork thanks a lot for your work. We deployed already to our testsystems but as it's late Friday we do not dare to update our production servers, as me and the other admin want to have a quiet weekend :-) We will update production on Monday or latest by Thursday (as I'm in holiday until Wednesday). And we'll let you know if the situation get better 🤞 

Have a good weekend

tobi

@jahlives Tobi, As an example for some of the domains on your list, there is a misconfiguration of their DNS public records causing a DNSSEC problem so in this case the v1.4.4.4 lookup is doing its job correctly. See the analyzer tool at https://dnsviz.net/ . The existence of a TLSA record implies that the recipient domain has expressed a preference not to receive the mail in the case of an error, so there should be no cause for anxiety on the sender part. After a retry timeout an NDR should go to the sender. Postfix 3.10 will be released soon which can then also be configured with postfix-tlspol to send TLS reports to make recipient administrators aware.

@DragonWork Thank you for this truly amazing effort! I suggest not to relax the settings. It is a recipient choice - they either TLSA (DANE) or they don't. If they choose to use TLSA records then it all needs to be perfect, otherwise there is no point. I experienced the same problem this week when my registrar had a DNS reset and lost my DNSSEC record. If it doesn't exist already, I propose IETF extend the RFCs to allow the option to fall back to a valid MTA-STS policy when DANE fails, but really if recipients choose to use DANE they need to actively monitor validity of their own DNS records. I think you should withdraw v1.5.0

I was not able to get v1.5.0 to work on enterprise Linux (Rocky 9.5) as it fails to find the config. Version 1.5.0 seems to be using an absolute ../configs/config.yaml path but I think it should honour the path defined in the postfix-tlspol.service file like the versions before it. I also don't think it is a good idea to run the files from the /root folder so I compile on a non-production box and then edit and copy the compiled files to /usr/local/bin/postfix-tlspol/ and /usr/lib/systemd/system/ on the production MTAs for execution. I have been able to get all versions up to 1.4.4.4 to work perfectly this way. (" ERROR Error loading config: open ../configs/config.yaml: no such file or directory").

Mike

@integrilog Hi, Mike!

Do you get this error only when using the query.sh script? The new querying uses the built binary (to reduce dependencies) with `-query` flag (but also accepts `-config` to help the querier find the running tlspol daemons server:port). I will fix the autodetection soon. Try to run `postfix-tlspol -config /your/config.yaml -query example.com` in the meantime.

The relaxed algorithm doesn‘t allow existing TLSA records to be skipped, it only considers SERVFAIL of our local DNS resolver (or request timeout) while checking for the existence of MX and TLSA records to be non-destructive. TLSA records, if found, will still be verified and enforced. By setting `strict: true` in the server section of your config.yaml, you can return to the previous behavior of treating DNS errors during lookup as fatal. In case of the above domains, their outdated/misconfigured nameservers simply seem to crash when being asked for TLSA records, so they stop responding altogether.

But the v1.5.0 also regards SERVFAIL while looking up the `_mta-sts. TXT` record as a signal to mark MTA-STS as not implemented (this complies with the standard, so it isn’t switchable with `strict: true`, and should be less of a problem because of the long caching times for MTA-STS).

Kind regards

v1.5.0-2 now removes `strict` option and is again strict at default. I added a new check to detect and prevent the DNS errors, which were mostly because of Microsoft‘s Enterprise Outlook servers returning `NOTIMPL` instead of `NXDOMAIN` for `TLSA` record lookups. Thankfully by filtering out servers which don’t support DNSSEC in advance (without sacrificing RFC compliance, because not supporting DNSSEC makes the records insecure per definitionem), the validation results correctly without any errors.

The situation is much better now with Version 1.5.2, however there are still a few edge cases, e.g. domains using multiple mail hosting providers with different DANE settings.

Example: atelier-whiteplan.ch  
MX points to two different providers, one publishing TLSA records, the other doesn't.
tlspol says: "policy": "dane-only",
postfix says: no TLSA records found

I don't know what is the best solution. Return "no dane"? Consider it an error? Both are suitable solutions, I would think tlspol-users might just need awareness and maybe a guide how to monitor, analyse and handle such situations.

Hm. The RFC 7672 mandates to enforce DANE if at least one MX server supports it. Postfix will (hopefully) retry with (randomly?) selecting the other MX.

Of course, it would be better, if we could tell Postfix where to look at. Similar to the `match=` parameter in MTA-STS policies. Maybe @wietse-postfix can implement this in Postfix 3.10+

Please check 84cf86dbb5861b47586e7079a7dd0a26e1f36131

Thanks for the tweaks. Very interesting issues being raised. The Postfix behaviour described is compliant with RFC 7672 2.2.1 which guides mx precedence to be based solely on the mx priority and explicitly mentions that TLSA records and domain are to be considered only for the selected mx. Also, can't rule out that recipient's TLSA differences are intentional. Mike

> Thanks for the tweaks. Very interesting issues being raised. The Postfix behaviour described is compliant with RFC 7672 2.2.1 which guides mx precedence to be based solely on the mx priority and explicitly mentions that TLSA records and domain are to be considered only for the selected mx. Also, can't rule out that recipient's TLSA differences are intentional. Mike

Ah, thanks for pointing out! I‘m going to make the algorithm consider the MX priorities as well. For now, replying with „dane“ instead of „dane-only“ for an incomplete DANE setup seems appropriate.

My understanding is that if the recipient has a TLSA record then the TLS should always resolve to "dane-only" to enforce even if a misconfiguration is discovered. Presence of a TLSA record (even a bad one) indicates recipient intention to advertise preference for delivery only if all stated TLS conditions are met (e.g. 3.1.1. and thumbprint part of the record with DNSSEC) . The goal is confidentiality - that the mail only goes securely to a verified recipient. If there is a TLSA misconfig (e.g DNSSEC failure or incomplete or mismatched DNS record) then delivery needs to be postponed until the email can be delivered at the security level prescribed. The MTA-STS resolver works the same way. Gmail would not deliver to me until I fixed an error in my DNS and URL records.

Inconvenient for the recipient yes, but the only way to assure the requested confidentiality. The recipient should expect service interruption if there is an error on their side but they should never be worried about relaxation of security. The mechanisms available to flag the problem are the TLS report (RUA), NDR, and syslog. It is well known that email is not a good method to transmit urgent messages so we can afford to wait in a rare situation.

If you feel you can't implement this philosophy, I can accept your alternative because I will still have 99.9% compliance compared to 50-90% when I only had an MTA-STS resolver and because we can expect very few TLSA records to have errors. Honoring the recipient preference is a courtesy and not yet law gives me the grace for the few I miss.

The commit I pushed was not a 'hack'. You can rest assured. 😃 

If the legitimate domain owner has MX records, where only a part of them has valid (!) TLSA records, and the other ones have none (verifiably none, not invalid!), then tlspol will return `dane`. It is then up to Postfix to decide whether to enforce DANE or not (depending on at which MX priority the (re)sending queue is at).
If all MX servers have TLSA records, whether valid or invalid, but not verifiably misconfigured (i. e. correctly DNSSEC-signed but obvious format error in record), tlspol will always return `dane-only`.
There is no way (as to me known) that a forged DNS reply can downgrade the tlspol algorithm.

Thank you. I can see you have agonized over every detail and you have made the world a better place. Honestly this difference is a small thing to me. 
> If the legitimate domain owner has MX records, where only a part of them has valid (!) TLSA records, and the other ones have none (verifiably none, not invalid!), then **tlspol will return dane.** It is then up to Postfix to decide whether to enforce DANE or not

I would be happier with the words in bold above be deleted.
*
*


>If all MX servers have TLSA records, whether valid or invalid, except verifiably misconfigured (i. e. correctly DNSSEC-signed but obvious format error in record), tlspol will always return dane-only.

Yes except I think DNSSEC compliance is only needed to trust the contents of the DNS record, not to trust the TLSA intent.

I summarize my understanding:
For any MX with no TLSA record (irrespective of DNSSEC compliance), we need to allow Postfix to implement its SMTP TLS policy.
For any MX with good or bad TLSA record (irrespective of DNSSEC compliance), we need to enforce "dane-only"







Thank you for your kind words!

> I summarize my understanding:
> For any MX with no TLSA record (irrespective of DNSSEC compliance), we need to allow Postfix to implement its SMTP TLS policy.

Almost. The TLSA record must be verifiably non-existent (thus DNSSEC/NSEC(3)-signed). This ensures that only the legitimate domain owner can define non-DANE MX servers, and these have to be DNSSEC-signed as well. The trust chain must be complete, so we can downgrade to normal encryption for certain MX servers (i. e. external providers like Outlook). Postfix will still enforce DANE on the MX servers that support them (the order is defined by the domain owner through MX priorities).
A spoofed DNS reply would throw a DNSSEC error, whether it is on the mail domain or provider domain.

> For any MX with good or bad TLSA record (irrespective of DNSSEC compliance), we need to enforce "dane-only"

True. Only DNSSEC-compliant TLSA records (whether valid or invalid) are resulting in `dane-only`. Manipulated DNSSEC records defer the sending.
Non-DNSSEC TLSA records are considered insecure and are not used. Note that an attacker would have to manipulate the root servers to prevent you from detecting the existence of DNSSEC for a domain. But then again, he simply could prevent you from seeing the TLSA records or add his own TLSA records and redirect mails to his server. So non-DNSSEC TLSA records are not trustable.


> > Please check [84cf86d](https://github.com/Zuplu/postfix-tlspol/commit/84cf86dbb5861b47586e7079a7dd0a26e1f36131) (and latest commit after bug fix)
> 
> Have you updated the docker image? Then I'll happily test the patch!

I have to publish a release for the Docker image to be built and published. Could take some 30-40 mins for GitHub to compile for all architectures. Hang tight!

?mer G?ven:
> The commit I pushed was not a 'hack'. You can rest assured. ??
> 
> If the legitimate domain owner has MX records, where only a part of them has valid (!) TLSA records, and the other ones have none (verifiably none, not invalid!), then tlspol will return `dane`. It is then up to Postfix to decide whether to enforce DANE or not (depending on at which MX priority the (re)sending queue is at).
> If all MX servers have TLSA records, whether valid or invalid, but not verifiably misconfigured (i. e. correctly DNSSEC-signed but obvious format error in record), tlspol will always return `dane-only`.
> There is no way (as to me known) that a forged DNS reply can downgrade the tlspol algorithm.

OK, You are more careful than I assumed. If a domain does not have TLSA
for all MXesm then they are deserve to get degraded security.

	Wietse


> Almost. The TLSA record must be verifiably non-existent (thus DNSSEC/NSEC(3)-signed).

I discovered some RFC wording quoted below. Your philosophy conforms. My understanding above was wrong. DNSSEC status does matter. Thank you for the explanations. Good Job!

RFC 7672 2.2.2 par 4: "If  address records are found but the DNSSEC validation status of the first query response is "insecure" .... the SMTP client SHOULD NOT proceed to search for any associated TLSA records."








@DragonWork Thank you for the good job! I've tested the current version and just updated our productive machines to it. It is much better than the previous release, but there are still a few domains remaining with inexplicable delivery errors. I'll collect a few in the next hours and pass you a list for debugging later today.

>Return dane instead of dane-only when only some MX servers support DANE (conforms to [RFC 7672 Section 2.2.1 Paragraph 2](https://datatracker.ietf.org/doc/html/rfc7672#section-2.2.1))

Maybe I misunderstand what you have done or meant, but I don't think the RFC had this intention to downgrade to "dane". postfix-tlspol should only explore 2 opportunities "dane-only" and "secure". Anything else should defer to the Postfix tls policy. 

>Ah, thanks for pointing out! I‘m going to make the algorithm consider the MX priorities as well. For now, replying with „dane“ instead of „dane-only“ for an incomplete DANE setup seems appropriate.

Cannot just impose "dane". If selected MX has no valid TLSA, then should resort to MTA-STS lookup, followed by deferring to Postfix tls policy as last resort. 




> > Return dane instead of dane-only when only some MX servers support DANE (conforms to [RFC 7672 Section 2.2.1 Paragraph 2](https://datatracker.ietf.org/doc/html/rfc7672#section-2.2.1))
> 
> Maybe I misunderstand what you have done or meant, but I don't think the RFC had this intention to downgrade to "dane". postfix-tlspol should only explore 2 opportunities "dane-only" and "secure". Anything else should defer to the Postfix tls policy.

`dane` (Opportunistic DANE) is a hint for Postfix that it should enforce DANE where possible (when the MX server that has it‘s turn according to the priority supports it; Postfix can detect that). If DANE is not possible (but not simply invalid, which would still defer the mail), it will try TLS, then plaintext at a last resort.

`dane-only` (Mandatory DANE) indicates that all MX support DANE, and no other alternative is to be used at all cost. This perfectly complies to the RFC, there is no exception. It is just the implementation language of Postfix.

> > Ah, thanks for pointing out! I‘m going to make the algorithm consider the MX priorities as well. For now, replying with „dane“ instead of „dane-only“ for an incomplete DANE setup seems appropriate.
> 
> Cannot just impose "dane". If selected MX has no valid TLSA, then should resort to MTA-STS lookup, followed by deferring to Postfix tls policy as last resort.

Opportunistic DANE is still better than MTA-STS, when Postfix is sending to a domain, that has DANE enabled on some of its MX‘es, those will enforce DANE as if `dane-only` were set. Only the MX‘es that don‘t support DANE (but were DNSSEC-verified by the legitimate domain owner as authentic recipients) will fall back to `encrypt`, then `may` at worst.

`dane` encourages Postfix to enforce DANE, `dane-only` directly enforces. A mail sent to a DANE-supporting MX will always be deferred on validation errors, so tlspol returning `dane` – more often than not – increases the utilization of DANE, where it would answer `not found` instead. So `dane-only` responses aren‘t affected. It‘s just a bonus and complies to the RFCs, which states we can try DANE in such cases on DANE supporting MX‘es to enhance email security, but aren‘t obliged to.

Some of the domains that were causing issues today:

```
db.com
everex.org
gesundheit-akademie.de
gmx.net
grupoeco.com.ar
iqesonline.net
six-group.com
spital-limmattal.ch
tuwien.ac.at
```

As we can see there are a few big names in the list. 

Querying postfix-tlspol returns: `9:NOTFOUND ,` (consistent with `postfix-tlspol -query` resulting in both policies being `""`) in almost all cases, still postfix defers with `client TLS configuration problem`. 
The notable exception is gmx which evaluates to `12:OK dane-only,` and where I won't exclude the possibility it may have been a temporary issue on their side (tbc).
The other outlier is gesundheit-akademie.de which has a TXT record in _mta-sts.gesundheit-akademie.de

> Some of the domains that were causing issues today:
> 
> ```
> db.com
> everex.org
> gesundheit-akademie.de
> gmx.net
> grupoeco.com.ar
> iqesonline.net
> six-group.com
> spital-limmattal.ch
> tuwien.ac.at
> ```
> 
> As we can see there are a few big names in the list. 
> 
> Querying postfix-tlspol returns: `9:NOTFOUND ,` (consistent with `postfix-tlspol -query` resulting in both policies being `""`) in almost all cases, still postfix defers with `client TLS configuration problem`. 
> The notable exception is gmx which evaluates to `12:OK dane-only,` and where I won't exclude the possibility it may have been a temporary issue on their side (tbc).
> The other outlier is gesundheit-akademie.de which has a TXT record in _mta-sts.gesundheit-akademie.de


If postfix-tlspol returned `not found`, then I can't do anything for these domains. Even if you would uninstall postfix-tlspol, you most probably would've encountered the same errors. 😉

GMX is a German provider known for its DANE support (their advertising 'E-Mail made in Germany' is a misnomer for DANE basically). It'll be a temporary failure for sure.

`gesundheit-akademie.de` does not support MTA-STS. This is not how it works. No policy file exists, nor is there any valid MTA-STS TXT record. Their postmaster(s) should read some tutorials.

I'm sorry but these are not bugs related to postfix-tlspol anymore.
I'd suggest closing this issue as completed. 👍🏻

Kind regards

Postfix policy is set to may. 
All those domains are reachable with Policy enforced to "may" or "enforce" (haven't tried "dane", though) via a map set before postfix-tlspol: `smtp_tls_policy_maps=hash:/etc/postfix/tls_overrides,socketmap:inet:10.1.0.44:8461:query`
All those domains are reachable when I use postfix-mta-sts-resolver. Something is different with postfix-tlspol, but I don't see what.

@neonknight This is indeed very alarming (at lesst for me). I'll try to debug it myself today - but in the meantime, could you please provide me with the exact Postfix logs? Maybe also the logs of your Docker container running postfix-tlspol. You may want to disable prefetching temporarily for reduced noise in the log (`-e TLSPOL_PREFETCH=0` in `docker run`).

@DragonWork one other (big) domain that currently pops-up with issues is `web.de`
```
Feb  6 11:01:57 ew-relay04 postfix/smtp[85891]: connect to mx-ha03.web.de[212.227.15.17]:25: Operation timed out
Feb  6 11:01:57 ew-relay04 postfix/smtp[85891]: warning: socketmap:inet:10.3.0.44:8462:query lookup error for "web.de"
Feb  6 11:01:57 ew-relay04 postfix/smtp[85891]: warning: smtp_tls_policy_maps, next-hop destination "web.de": policy table lookup error
Feb  6 11:01:57 ew-relay04 postfix/smtp[85891]: warning: TLS policy lookup for web.de/mx-ha02.web.de: client TLS configuration problem
Feb  6 11:01:57 ew-relay04 postfix/smtp[85891]: 4YpXgj0QgWz1Xhx: to=<REDACTED@web.de>, relay=none, delay=20, delays=0.06/0.02/20/0, dsn=4.7.5, status=deferred (client TLS configuration problem)
```
it seems that the MX `mx-ha02.web.de` is not stable up. Quite often we get "connection time out" but both MX have same priority and both have TLSA records. tlspol container logs for `web.de` look like that
```
2025-02-05T10:17:24.423506106Z Feb  5 11:17:24.423 INFO  Evaluated policy for "web.de": dane-only (from cache, 550s remaining)
2025-02-05T10:40:55.820734935Z Feb  5 11:40:55.820 INFO  Evaluated policy for "web.de": dane-only (cached for 900s)
2025-02-05T11:10:52.200686756Z Feb  5 12:10:52.200 DEBUG Prefetched policy for "web.de": dane-only (cached for 180s)
2025-02-05T12:03:54.671374005Z Feb  5 13:03:54.671 INFO  Evaluated policy for "web.de": dane-only (from cache, 293s remaining)
2025-02-06T08:40:22.162939374Z Feb  6 09:40:22.162 INFO  Evaluated policy for "web.de": dane-only (cached for 900s)
2025-02-06T08:49:36.799668817Z Feb  6 09:49:36.799 INFO  Evaluated policy for "web.de": dane-only (from cache, 339s remaining)
2025-02-06T08:50:08.351123662Z Feb  6 09:50:08.351 INFO  Evaluated policy for "web.de": dane-only (from cache, 308s remaining)
2025-02-06T09:05:43.648949517Z Feb  6 10:05:43.648 INFO  Evaluated policy for "web.de": dane-only (from cache, 387s remaining)
2025-02-06T09:07:02.554079135Z Feb  6 10:07:02.553 INFO  Evaluated policy for "web.de": dane-only (from cache, 308s remaining)
2025-02-06T09:18:44.487684406Z Feb  6 10:18:44.487 INFO  Evaluated policy for "web.de": dane-only (from cache, 348s remaining)
2025-02-06T09:41:39.721432908Z Feb  6 10:41:39.721 INFO  Evaluated policy for "web.de": dane-only (from cache, 185s remaining)
2025-02-06T09:49:13.039896373Z Feb  6 10:49:13.039 INFO  Evaluated policy for "web.de": dane-only (from cache, 432s remaining)
2025-02-06T09:51:35.060534630Z Feb  6 10:51:35.060 INFO  Evaluated policy for "web.de": dane-only (from cache, 290s remaining)
2025-02-06T09:52:34.462049140Z Feb  6 10:52:34.461 INFO  Evaluated policy for "web.de": dane-only (from cache, 231s remaining)
2025-02-06T10:01:37.172554155Z Feb  6 11:01:37.172 INFO  Evaluated policy for "web.de": dane-only (from cache, 143s remaining)
2025-02-06T10:03:28.401921390Z Feb  6 11:03:28.401 INFO  Evaluated policy for "web.de": dane-only (from cache, 31s remaining)
```

this domain `tkh.at` is somehow weird. No TLSA and no MTA-STS
```
Feb  6 11:32:38 hz-relay03 postfix/smtp[49664]: warning: TLS policy lookup for tkh.at/mail.nges.at: client TLS configuration problem
Feb  6 11:32:38 hz-relay03 postfix/smtp[49664]: warning: TLS policy lookup for tkh.at/mail.nges.at: client TLS configuration problem
Feb  6 11:32:38 hz-relay03 postfix/smtp[49664]: warning: socketmap:inet:10.11.0.42:8462:query lookup error for "tkh.at"
Feb  6 11:32:38 hz-relay03 postfix/smtp[49664]: warning: smtp_tls_policy_maps, next-hop destination "tkh.at": policy table lookup error
Feb  6 11:32:38 hz-relay03 postfix/smtp[49664]: warning: TLS policy lookup for tkh.at/fk2.nges.at: client TLS configuration problem
```
and tlspol logs do not show anything un-excepted

> INFO  No policy found for "tkh.at" (from cache, 37s remaining)



Can you tell me the Postfix version that you use? I sent mails to these domains with no problems.

What is your DNS resolver? (The Docker version has its own Unbound resolver, so the resolver which Postfix use is probably another service)

@DragonWork 

the postfix on the affected systems is `mail_version = 3.8.6` and we're using a pdns recursor for DNS resolution. The resolver that tlspol uses is the same that postfix uses
```
dns:
    address: dnshost:53   # must support dnssec
```
and `dnshost` is set in `/etc/hosts` to our local recursive resolver (we do not forward queries but fully resolve it on the resolver). So we do not use `unbound` in our setup

On my test system I've set smtp_tls_loglevel=2 and tried to send mail to one of the problematic domains, e.g. tuwien.ac.at:

```
connect to mri0.tuwien.ac.at[128.130.2.100]:25: Operation timed out
warning: table socketmap:inet:10.20.50.11:8462:query lookup error: unexpected disconnect
warning: socketmap:inet:10.20.50.11:8462:query lookup error for "tuwien.ac.at"
warning: smtp_tls_policy_maps, next-hop destination "tuwien.ac.at": policy table lookup error
warning: TLS policy lookup for tuwien.ac.at/mri2.tuwien.ac.at: client TLS configuration problem
warning: table socketmap:inet:10.20.50.11:8462:query lookup error: unexpected disconnect
warning: socketmap:inet:10.20.50.11:8462:query lookup error for "tuwien.ac.at"
warning: smtp_tls_policy_maps, next-hop destination "tuwien.ac.at": policy table lookup error
warning: TLS policy lookup for tuwien.ac.at/mri1.tuwien.ac.at: client TLS configuration problem
warning: table socketmap:inet:10.20.50.11:8462:query lookup error: unexpected disconnect
warning: socketmap:inet:10.20.50.11:8462:query lookup error for "tuwien.ac.at"
warning: smtp_tls_policy_maps, next-hop destination "tuwien.ac.at": policy table lookup error
warning: TLS policy lookup for tuwien.ac.at/mri9.tuwien.ac.at: client TLS configuration problem
4YpgNn382tzxpC: to=<tlspolicytest.rcptinvalid@tuwien.ac.at>, relay=none, delay=21, delays=0.03/0.2/20/0, dsn=4.7.5, status=deferred (client TLS configuration problem)
```

```
postmap -q tuwien.ac.at socketmap:inet:10.20.50.11:8462:query
echo $?
1
dig tlsa _25._tcp.mri0.tuwien.ac.at
NXDOMAIN
```

Next I've forced tuwien.ac.at via manual config entry to DANE and tried again:
```
connect to mri0.tuwien.ac.at[128.130.2.100]:25: Operation timed out
warning: mri2.tuwien.ac.at[128.130.2.57]:25 offered no supported AUTH mechanisms: 'DIGEST-MD5 CRAM-MD5'
Untrusted TLS connection established to mri2.tuwien.ac.at[128.130.2.57]:25: TLSv1.3 with cipher TLS_AES_256_GCM_SHA384 (256/256 bits) key-exchange X25519 server-signature RSA-PSS (4096 bits) server-digest SHA256 client-signature RSA-PSS (2048 bits) client-digest SHA256
warning: mri2.tuwien.ac.at[128.130.2.57]:25 offered no supported AUTH mechanisms: 'EXTERNAL DIGEST-MD5 CRAM-MD5'
4Yph1t6LB8zxpC: to=<tlspolicytest.rcptinvalid@tuwien.ac.at>, relay=mri2.tuwien.ac.at[128.130.2.57]:25, delay=22, delays=0.01/0.19/22/0.17, dsn=5.1.1, status=bounced (host mri2.tuwien.ac.at[128.130.2.57] said: 550 5.1.1 <tlspolicytest.rcptinvalid@tuwien.ac.at>... Generic address unknown (2) (in reply to RCPT TO command))
```
SMTP connection with TLS successful!

Version 1.6.0 fixes this bug and enhances overall performance.

YES! This looks good for tuwien.ac.at! I don't have time today to check the rest, but I'll keep you updated in the next days. Thanks a lot for your swift reactions!

@DragonWork I'm working with @neonknight  :-) I deployed the latest tlspol version to our production systems and commented all domains in the tlspol override file. So all affected domains are going through tlspol again. Let's see how that behaves now 🤞 

> You could try setting the default TLS policy to `may` instead of `dane` (if this wasn't your default before installing tlspol). I don't recommend it tbh, although tlspol can now detect and return `dane` where DANE support is likely.

we're currently using `dane` as default in postfix `smtp_tls_security_level` 
We have been using that value before started with tlspol and it is quite reliable. A lot of our customer want their outgoing mail to be transport-secured so `dane` is imho a very flexible option  as it would allow fallback to `may` if no TLSA records are present, enforces `unauthenticated TLS` if TLSA is present but un-usable and enforces `dane-only` if TLSA records are present and usable. So we actually would not like it too much to change from `dane` to `may` :-)

We have now tlspol 1.6 running for almost one day with no domains on our exclusion list. And the only "problems" we still can see every then and when is when there are unexpected timeouts in connection to our resolver. Ex
```
2025-02-07T14:01:26.246229340Z Feb  7 15:01:26.246 INFO  No policy found for "lgt.com" (cached for 900s)
2025-02-07T14:33:08.661784293Z Feb  7 15:33:08.661 WARN  DNS error during TLSA lookup for "lgt.com": read udp 172.18.0.7:39355->10.1.0.53:53: i/o timeout
2025-02-07T14:33:08.661817535Z Feb  7 15:33:08.661 WARN  Evaluating policy for "lgt.com" failed temporarily (cached for 180s)
2025-02-07T14:33:08.664016167Z Feb  7 15:33:08.663 WARN  Evaluating policy for "lgt.com" failed temporarily (from cache, 175s remaining)
```
I such cases the mail remain in queue but not for long as usually in the next queue run they can be delivered without issues.

So far we're very happy with tlspol 👍  for sure we keep you updated on how it goes and if new problems arise

Have a good one

tobi



@DragonWork I just wonder if the following would be feasible: every then and when we have i/o timeout with our resolver which then lead to message stuck in queue for a moment. So would it make sense to introduce a config var to tlspol for such cases and statically return the given policy when such i/o timeouts to resolver occur? Or return NO POLICY FOUND to postfix so postfix uses its configured default policy? In the latter case just not store the NO POLICY FOUND in cache, obviously :-)

> every then and when we have i/o timeout with our resolver which then lead to message stuck in queue for a moment.

The question is: would Postfix be able to send the mail or wouldn't the mail stuck anyway? You said you are using the same resolver for Postfix and postfix-tlspol, so I think the nameservers not responding temporarily would defer the mail either way. You might set the time to retry the mail queue a bit lower (but certainly not under 5 minutes to avoid violating the greylisting on the receiver end).

Please open a new issue if this becomes a frequent problem.

Tip: You might want to try increasing the timeout threshold in your DNS resolver configuration (with PowerDNS, this is `network-timeout`, defaulting to 1.5s). postfix-tlspol waits up to 5 seconds (latest Docker variant up to 3 seconds, but will be updated soon).

@jahlives 
> Therefore I talked to my boss and asked if we could issue a "bounty" for fixing those "issues". I was told yes that our company would pay something if it could be fixed.
> I have not head from my boss on how much we would spend to fix the issue(s) but I would pay as private person up to 200 CHF if our company would only offer less than that.

Any news on that bounty? I‘m not demanding anything, but it was a great motivation during my exam phase nonetheless. 🫣
Thanks for your contribution to open-source!

Oh, thank you so much! PayPal would be fine. Best regards